BODY{
    background-color: rgb(225, 241, 228);
    text-align: center;
}

/*search*/
  .search-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3%;
    width: 460px;
  }
  

.search {
    position: absolute;
    top: 35%;
    right: 8px;
    transform: translateY(-50%);
    width: 15px; 
    right: 12%;}


/*navbar*/

*{padding: 0;
    margin: 0;
    font-family: monospace;
    margin-bottom: 10px;
    }

    ul {
    list-style: none;
    background: rgb(165, 205, 195);
    }
    ul li {
    display: inline-block;
    position: relative;
    }
    ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 130px;
    }
    ul li ul.dropdown li {
    display: block;
    }
    ul li ul.dropdown {
    width: 100%;
    background: rgb(165, 205, 195);
    position: absolute;
    z-index: 999;
    display: none;
    }
    ul li a:hover {
    background: rgb(152, 185, 176);
    }
    ul li:hover ul.dropdown {
    display: block;
    }
    
    img{
        display: block;
    
    }
.logo-image{
    margin-bottom: -6%;
    opacity: 100%;
    margin-left: 40px;
}
ul{
    text-align: right;
}

button{
    width: 70px;
    height: 40px;
    margin: 20px;
}

/* SEARCH BAR */
input[type="text"] {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 14px;
    width: 510px; /* Adjust the width as needed */
    outline: none;
   margin-right: 40px;
  }
  
  input[type="text"]:focus {
    border-color: #4285f4; 
    box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.2); 
  }
  
/*BUTTON -DONATE */ 
.donate {
    border-radius: 30px;
    width: 100px;
    border-style: none;
    background-color: rgb(30, 141, 30);
    color: white;
    font-size: 18px;
}

.donate:hover {
    cursor: pointer;
    background-color: rgb(28, 122, 28) ;
    transition: 0.15s;
  }
  
/* FOOTER NOTES */ 
*footer{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.footer{
    margin-top: 150px;
    width: 80%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
    font-family: monospace;
    font-size: 15px;
    
}
h3{
    text-decoration: underline;
    font-family: 'Noto Sans', sans-serif;
    
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 1.5;
   
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: 'Noto Sans', sans-serif;

}
.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
}
.col-1{
    position: relative;
    left: -7%;
}

.col-3 p{
    font-family: 'Noto Sans', sans-serif;
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
    font-family: 'Noto Sans', sans-serif;
}
form button{
    background: transparent;
    border:2px solid #FFF;
    width: 200px;
    color: #FFF;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
} 
/* CENTER CONTENT*/

.text-container {
    position: absolute;
     top: 35%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     color: white;
     background-image: url(/assets/Untitled\ design.png);
     background-size: cover;
     width: 1100px;
   height: 500px;
   margin-top: 130px;}
   
 
 .text-container p {
     font-size: 67px;
     margin: 0;
    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-family: 'Noto Sans JP', sans-serif; 
    border-style: solid;  
    border-width: 4px;  
    
 }

 
 .image-container {
    position: relative;

  }

/* IMAGE 3 */ 

.Images-container{
    display: flex;
    justify-content: space-around ;
    margin-top: 50px;
    margin-left: 15px;
    margin-right:15px;
  }
  
/*ACCORDION*/ 
.accordion-body{
    justify-content: center;
    margin-top: 580px;
}

.accordion {
    max-width: 100%;
    width: 100%;
    margin: 0 auto; 
}

details {
    width: 100%;
}

.AB {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.Discover p{
    font-family: 'Noto Sans', sans-serif;
    
}